In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [2]:
df=pd.read_csv('data1/credit.csv')

In [3]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [4]:

df.shape

(30000, 25)

In [5]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [6]:
Fraud = df['default.payment.next.month']==1
print(Fraud)

0         True
1         True
2        False
3        False
4        False
         ...
29995    False
29996    False
29997     True
29998     True
29999     True
Name: default.payment.next.month, Length: 30000, dtype: bool

In [7]:
Fraud = df[df['default.payment.next.month'] == 1]
print(Fraud)

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1    20000.0    2          2         1   24      2      2     -1
1          2   120000.0    2          2         2   26     -1      2      0
13        14    70000.0    1          2         2   30      1      2      2
16        17    20000.0    1          1         2   24      0      0      2
21        22   120000.0    2          2         1   39     -1     -1     -1
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29991  29992   210000.0    1          2         1   34      3      2      2
29994  29995    80000.0    1          2         2   34      2      2      2
29997  29998    30000.0    1          2         2   37      4      3      2
29998  29999    80000.0    1          3         1   41      1     -1      0
29999  30000    50000.0    1          2         1   46      0      0      0

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1  ...        0.0        0.0        0.0       0.0     689.0
1          0  ...     3272.0     3455.0     3261.0       0.0    1000.0
13         0  ...    66782.0    36137.0    36894.0    3200.0       0.0
16         2  ...    18338.0    17905.0    19104.0    3200.0       0.0
21        -1  ...        0.0      632.0      316.0     316.0     316.0
...      ...  ...        ...        ...        ...       ...       ...
29991      2  ...     2500.0     2500.0     2500.0       0.0       0.0
29994      2  ...    77519.0    82607.0    81158.0    7000.0    3500.0
29997     -1  ...    20878.0    20582.0    19357.0       0.0       0.0
29998      0  ...    52774.0    11855.0    48944.0   85900.0    3409.0
29999      0  ...    36535.0    32428.0    15313.0    2078.0    1800.0

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month
0           0.0       0.0       0.0       0.0                           1
1        1000.0    1000.0       0.0    2000.0                           1
13       3000.0    3000.0    1500.0       0.0                           1
16       1500.0       0.0    1650.0       0.0                           1
21          0.0     632.0     316.0       0.0                           1
...         ...       ...       ...       ...                         ...
29991       0.0       0.0       0.0       0.0                           1
29994       0.0    7000.0       0.0    4000.0                           1
29997   22000.0    4200.0    2000.0    3100.0                           1
29998    1178.0    1926.0   52964.0    1804.0                           1
29999    1430.0    1000.0    1000.0    1000.0                           1

[6636 rows x 25 columns]

In [8]:
Valid = df['default.payment.next.month']==0
print(Valid)

0        False
1        False
2         True
3         True
4         True
         ...
29995     True
29996     True
29997    False
29998    False
29999    False
Name: default.payment.next.month, Length: 30000, dtype: bool

In [11]:
X=df.drop(['default.payment.next.month'], axis=1)
Y=df["default.payment.next.month"]
print(X.shape)
print(Y.shape)
#getting just the values 
X_data=X.values
Y_data=Y.values

(30000, 24)
(30000,)

In [12]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X_data, Y_data, test_size = 0.2, random_state = 42)

In [15]:
# Building RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier
# model creation
rfc = RandomForestClassifier()
rfc.fit(X_train,Y_train)
# predictions
y_pred = rfc.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [16]:
print(y_pred)

[0 0 0 ... 0 0 0]

In [18]:
from sklearn.metrics import classification_report, accuracy_score,precision_score
from sklearn.metrics import confusion_matrix
n_outliers = len(Fraud)
print("No of outliers",n_outliers)
n_errors = (y_pred != Y_test).sum()
print("The model used is Random Forest classifier")
acc= accuracy_score(Y_test,y_pred)
print("The accuracy is  {}".format(acc))

No of outliers 6636
The model used is Random Forest classifier
The accuracy is  0.8065

In [22]:
cfm= confusion_matrix(Y_test,y_pred)
print(cfm)

[[4421  266]
 [ 895  418]]